@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "GowunDodum-Regular";
  font-weight: normal;
  src        : url("./fonts/GowunDodum-Regular.ttf") format("truetype");
} */

@layer utilities {}